body {
    background: url(https://wallpapers.com/images/hd/ms-dhoni-hd-red-mz2zm0u2wro5f9mw.jpg) no-repeat;
    background-size: cover;
    background-position: center center;
}

.audio {
    text-align: right;
}
.msd {
    font-size: 20px;
    font-weight: 700;
    background-color: whitesmoke;
    font-family: cursive;
    font-style: italic;
}
.para {
    font-size: 25px;
    font-weight: 600;
    color: white;
    text-decoration: underline dotted green;
    text-shadow: 2px 1px 2px red;
    text-align: right;
}

.captaincool {
    font-size: 25px;
    text-decoration: overline green;
    color: white;
    text-shadow: 2px 1px 2px blue;
    text-transform: uppercase;
}

.img1 img {
    border: 2px solid;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 2px white;
    margin-bottom: 25px;
    object-fit: fill;
}

.img2 img {
    border: 2px solid;
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 2px white;
    margin-bottom: 25px;
    object-fit: contain;
}
.img3 img {
    border: 2px solid;
    height: 300px;
    width: 300px;
    box-shadow: 4px 4px 2px white;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center top;
}

.linear-grediant {
    text-indent: 30px;
    word-spacing: 10px;
    width: 400px;
    text-wrap: wrap;
    background: linear-gradient(to right top, red, blue, green, orange);
    box-shadow: 5px 5px 3px black;

}
